
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    margin: 0;
    font-size: 16px;
    background-color: #009988;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
/** ==== custom-box ==== */
.custom-box {
    max-width: 700px;
    background-color: #fff;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
}
@keyframes fadeInRight {
    0%{
        transform: translateX(40px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.custom-box::before,
.custom-box::after {
    content: "";
    clear: both;
    display: table;
}
.custom-box.hide {
    display: none;
}

/** ==== INDEX.HTML ====  */

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container .header-box {
    display: flex;
    justify-content: space-between;
    background: aqua;
    padding: 30px 20px;
    border-radius: 10px 10px 0 0;
}

.flex-container .header-box .gerb {
    width: 100px;
    height: 100px;
}

.flex-container .center-box {
    text-align: center;
}

.flex-container .center-box h1 {
    color: crimson;
}

.flex-container .menu-box {
    padding: 0px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-container .menu-box h3,
h4 {
    color: #009988;
}

.menu-box table {
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
    margin: 20px;
    background: rgb(248, 233, 228);
}

.menu-box table th h3 {
    margin: 10px;
}

.menu-box table td a {
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
}

.menu-box table th,
td {
    padding: 5px 10px;
    border: 1px solid #009988;
}

.menu-box table th {
    font-weight: 700;
}

.menu-box table td {
    font-weight: 500;
}

.menu-box .footer-box {
    color: #999;
    background: #333;
    padding: 30px 20px;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.menu-box .footer-box .footer {
    margin: auto;
}


.menu-box .footer-box .footer div img {
    margin: 10px 10px -6px;
}


/** ==== QUIZ.HTML ==== */
/** ==== home-box ==== */
/* .home-box.hide {
    display: none;
} */
.home-box {
    text-align: center;
}
.home-box h3 {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;

}
.home-box p {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 22px;
}
.home-box p span {
    font-weight: 500;
}
.home-box .btn {
    margin: 10px 5px;
}
.home-box .btn a {
    text-decoration: none;
    color: inherit;
}

/** ==== button ==== */
.btn {
  padding: 15px 45px;
  background-color: #009988;
  color: #fff;
  border:none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/** ==== quiz-box ==== */
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-button,
.quiz-box .answers-indicator {
    width: 100%;
    float: left;
}

.quiz-box .question-number {
   font-size: 18px;
   color: #009988; 
   font-weight: 600;
   border-bottom: 1px solid #cccccc;
   padding-bottom: 10px;
   line-height: 25px;
}
.quiz-box .question-text {
    font-size: 22px;
    color: #000; 
    font-weight: 500;
    padding: 20px 0px;
    line-height: 28px;
    margin: 0;  
}


.quiz-box .option-container .option {
    background-color: #ccc;
    padding: 13px 15px;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor:pointer;
    text-transform: capitalize;
    opacity: 0; 
    animation: fadeIn .3s ease forwards;
    position: relative;
    overflow: hidden;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.quiz-box .option-container .option.correct::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
.quiz-box .option-container .option.wrong::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
@keyframes slideInLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.quiz-box .option-container .option.correct,
.quiz-box .option-container .option.wrong{
    color: #fff;
}
.quiz-box .option-container .option.already-answered{
    pointer-events: none;
}

.quiz-box .next-question-button {
    text-align: center;
}

.quiz-box .next-question-button .btn {
    margin: 5px 5px;
}
.quiz-box .answers-indicator {
    border-top: 1px solid #ccc;
    margin-top: 3px;
    padding-top: 3px;
  }
  .quiz-box .answers-indicator div {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #ccc;
    border-radius: 20px;
    margin-right: 3px;
    margin-top: 3px;
  }
.quiz-box .answers-indicator div.correct{
  background-color: green;
  background-image: url("../img/correct.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.quiz-box .answers-indicator div.wrong{
  background-color: red;
  background-image: url("../img/wrong.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}


/** ==== result-box ==== */
.result-box {
    text-align: center;
}
/* .result-box.hide {
    display: none;
} */
.result-box h1 {
    font-size: 36px;
    line-height: 42px;
    color: #009988;
}
.result-box table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}
.result-box table td {
    border: 1px solid #ccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #000;
    width: 50%;
    text-align: left;
    font-size: 18px;
}
.result-box .btn {
    margin-right: 20px;
}

@media (max-width: 767px) {
    .result-box .btn {
        margin-bottom: 10px;
    }
    body{
        padding: 15px;
    }
}

@media (max-width: 500px){
    /** ==== INDEX.HTML ==== */
    .menu-box table th, td {
        padding: 5px 6px;
        font-size: 15px;
      }
      
      .flex-container .header-box .gerb {
        width: 70px;
        height: 70px;
      }
      
      .menu-box .footer-box {
        font-size: 13px;
      }
      
      .flex-container .center-box h1 {
        color: crimson;
        font-size: 24px;
      }


    /** ==== QUIZ.HTML ==== */
    .quiz-box .question-text {
        font-size: 15px;
        color: #000;
        font-weight: 600;
        padding: 10px 0px 10px;
        line-height: 18px;
        margin: 0;
      }
      .quiz-box .option-container .option {
        background-color: #ccc;
        padding: 8px 10px;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        color: #000;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        text-transform: capitalize;
        opacity: 0;
        animation: fadeIn .3s ease forwards;
        position: relative;
        overflow: hidden;
      } 
      .btn {
        padding: 10px 30px;
    }   
}